---
layout: page
title: Estefania Roncancio
---
<div>
<h1>Biografía</h1>
<a href="https://orcid.org/0000-0001-7190-3539">Orcid</a>
<br/><a href="https://scholar.google.es/citations?hl=es&authuser=2&user=hyF9QvYAAAAJ"> Google Scholar</a>

<img class="avatares" src="/el-barco-literario/assets/perfil.jpg/" alt="foto"/>

<p>Soy estudiante de literatura, estoy en quinto semestre. En el campo de la edición me interesa el diseño editorial. 
Forma y contenido guarda cada uno un gran valor, por eso cuando en clase de Anatomía del Libro aprendí el concepto
de libro objeto quedé fascinada. Me gustaría adentrarme en el mundo del papel. Jean-Marc Ceci en "El Señor Origami"
presenta este mundo como silencioso en apariencia, pero que en el fondo atesora una carga meditativa. Pasar de lo 
impreso a lo digital me supone un reto de forma, ¿de qué manera el libro puede generar un valor estético en el 
espacio digital? o ¿cómo se difeencia un libro digital de otro? En lo impreso creo que es más directa esa diferencia
existen libros de pasta dura, con relieves, texturas suaves. Pero creo que iré descubriendo esto a medida que 
me ejercite en la edición digital.</p>
<b>Idiomas</b>
<ul>
    <li>Español</li>
    <li>Inglés</li>
    </ul>

<b>Intereses académicos y literarios</b>
    <ul>
        <li>Literatura fantástica colombiana</li>
        <li>Literatura infantil</li>
        </ul>

        <b><i>¿Qué es un editor?</i></b>

<br><p>Es un curador, un artesano del libro, el segador que separa el trigo de la cizaña. 
Es quien descubre las piedras preciosas, las acoge bajo su cuidado, las trabaja, las pule hasta que ya
pueden ser consideradas joyas. Es también un dictador del contenido, que no permite a nadie indigno 
vivir bajo su mandato, un verdugo de obras, de autores y estilos. Aquel que delimita bien sus fronteras,
obras distintas a las objetas no osan usurpar sus colecciones, sabe abrirse brecha entre las miles de 
ofertas para llegar a los lectores. Un editor es el compañero de viaje del autor, el amigo que ayuda 
a su creación a encontrar el enfoque deseado.</p>


