---
layout: page
title: Juliana Duarte
---

<div>
    
    <h1>Biografía</h1>
    <p>Link <a href="https://orcid.org/0000-0001-5045-3532">ORCID</a></p>
    <p>Link <a href="https://scholar.google.com/citations?hl=es&user=6Rut_cgAAAAJ&scilu=&scisig=AMD79ooAAAAAYGz3PFLyJKXmLFklKZvtfXtbaql1hWLT&gmla=AJsN-F4f9DtNFLq2GRYa6TehHJGY6-Lg0dk8cgujxxgBYx3GzJZJdxUy3Tr1RVprZASzuzF-PDNkGbSq5XoflXJ_5VeKmI-s8YNYjN89miESkUKmvdm5vaTxxu_BU-rEHC9NxOBPjGf_&sciund=18147849921352081271">Google Scholar</a></p>
    <br>
    <img class="avatares" src="/El-barco-literario/assets/julianaduarte.jpg" alt="juli"/>

    <p>Mi nombre es Juliana Duarte, tengo 19 años y voy en quinto semestre del pregrado en Literatura de la universidad EAFIT.
        Graduada del colegio El Carmen Teresiano de Cúcuta, siempre tuve afinidad con el ámbito literario y por la escritura
        creativa. Mis intereses literarios se enfocan en la ciencia ficción, los relatos futuristas y la poesía. Soy una persona muy apasionada por las historias que cuentan relatos de personas que se ven todos los días, 
        y sobre las historias que refieren al oficio de la escritura.
        Algunos de mis libros favoritos son Los Miserables de Víctor Hugo, Lo que no tiene nombre de Piedad Bonet, y Basura de Héctor
        Abad Faciolince. Escribo un poco de poesía y cuentos, y algunos de esos han sido publicados. Por ejemplo, para la revistas SOMOS del colegio El 
        Carmen Teresiano de Cúcuta publicaba eventualmente algunos de esos escritos, y un proyecto de la universidad para la
        clase de Edición Análoga fue publicado en la página de Instagram del pregrado en Literatura.</p>
    <h2><i>Intereses Académicos y literarios</i></h2>
    <ul>
        <li>Humanidades en la sociedad contemporánea</li>
        <li>Diferentes expresiones artísticas</li>
        <li>Literatura de ciencia ficción y fantástica</li>
        <li>Poesía</li>
    </ul>
    <h3><i>Idiomas</i></h3>
    <ul>
        <li>Español (lengua materna)</li>
        <li>Inglés (nivel B2)</li>
        <li>Francés (nivel A1)</li>
    </ul>
    <br>
    <h2><i>¿Qué es un editor?</i></h2>
    <p>Un editor es un guardián del proceso de publicación de un texto, un ente fundamental para el sector editorial.
        Es aquella persona que hace parte de todas las fases para que un escrito pueda ver la luz tras su publicación. 
        Así como los artistas y cantantes tienen managers en sus carreras, los editores también son aquellos quienes permiten 
        a los escritores alcanzar el éxito con sus obras. Gracias al análisis, corrección, diagramación y publicación de textos,
        los editores cumplen un papel fundamental en el mundo literario.</p>



</div>
